<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table class="table table-striped">
    
    <thead class="thead-dark">
        <tr>
            <th>Balance</th>
            <th>Student Id</th>
            <th>Teacher Id</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <% @pockets.each do |r| %>
        <tr>
            <td><%= r.balance %></td>
            <td><%= r.student_id %></td>
            <td><%= r.teacher_id %></td>
            <td><%= link_to 'Detail', pocket_path(r),class:"btn btn-info" %> 
                <%= link_to 'Edit', edit_pocket_path(r),class:"btn btn-warning" %>
                <%= link_to 'Delete', pocket_path(r) ,class:"btn btn-danger", method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>    
        </tr>
    <% end %>

</table> 

&nbsp;<%= link_to 'New pocket', new_pocket_path(),class:"btn btn-success" %>