<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark" style="width:270px; left:10px; top:10px;">
    <div class="card-body">
        <%= form_for(@pocket) do |s| %>
            <%= s.label :balance %> </br> 
            <%= s.text_field :balance %> </br> 

            <%= s.label :student_id %></br> 
            <%= s.text_field :student_id %> </br>

            <%= s.label :teacher_id%> </br> 
            <%= s.text_field :teacher_id %> </br>
            <br>
            <%= s.submit "Save", class:"btn btn-success" %>
            <%= link_to 'Back', pockets_path, class:"btn btn-secondary" %>
 
        <% end %>
    </div>
</div>