<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<div class="card bg-dark text-white" style="left:10px; width:250px;">
    <div class="card-header">Pocket</div>
    <div class="card-body">
        Balance: <%= @pocket.balance %> </br>
        Student_id : <%= @pocket.student_id %> </br>
        Teacher_id <%= @pocket.teacher_id %> </br>
    </div>
</div>
<br>
&nbsp;&nbsp;&nbsp;<%= link_to 'Back', pockets_path,class:"btn btn-secondary" %>


