<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
<%= form_for(@student) do |f| %>
    <%= f.label :name %> </br> 
    <%= f.text_field :name %> </br> 

    <%= f.label :username %> </br> 
    <%= f.text_field :username %> </br> 

    <%= f.label :age %> </br> 
    <%= f.text_field :age %> </br>

    <%= f.label :kelas %> </br> 
    <%= f.text_field :kelas %> </br>

    <%= f.label :address %> </br> 
    <%= f.text_field :address %> </br>

     <%= f.label :city %> </br> 
    <%= f.text_field :city %> </br>

     <%= f.label :NIK %> </br> 
    <%= f.text_field :NIK %> </br>
<br>
    <%= f.submit "Save", class:"btn btn-success" %> 
    <%= link_to 'Back', students_path, class:"btn btn-secondary" %>

<% end %>

</div>
</div>

