<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Age</th>
        <th>Kelas</th>
        <th>Address</th>
        <th>City</th>
        <th>NIK<th>
        Action
    </tr>
    </thead>
    <tbody>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.name %></td>
        <td><%= student.username %></td>
        <td><%= student.age %></td>
        <td><%= student.kelas %></td>
        <td><%= student.address %></td>
        <td><%= student.city %></td>
        <td><%= student.NIK %></td>
        <td><%= link_to 'Detail', student_path(student), class:"btn btn-info" %>  
            <%= link_to 'Edit', edit_student_path(student), class:"btn btn-warning" %> 
            <%= link_to 'Delete', student_path(student),class:"btn btn-danger", method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>
        
    </tr>
    <% end %>
    </tbody>
</table> 

&nbsp; <%= link_to 'New', new_student_path(), class:"btn btn-success" %>
