<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">  
    <%= form_for(@student) do |s| %>
        <%= s.label :name %> </br> 
        <%= s.text_field :name %> </br> 

        <%= s.label :username %> </br> 
        <%= s.text_field :username %> </br>

        <%= s.label :age %> </br> 
        <%= s.text_field :age %> </br>
        
        <%= s.label :kelas %> </br> 
        <%= s.text_field :kelas %> </br>
        
        <%= s.label :address %> </br> 
        <%= s.text_field :address %> </br>
        
        <%= s.label :city %> </br> 
        <%= s.text_field :city %> </br>
        
        <%= s.label :NIK %> </br> 
        <%= s.text_field :NIK %> </br>

        <%= s.submit "Save", class:"btn btn-success" %>
        <%= link_to 'Back', students_path, class:"btn btn-secondary" %>
    <% end %>
  </div>
</div>
