<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
    <%= form_for(@teacher) do |t| %>
        <%= t.label :NIK %> </br> 
        <%= t.text_field :NIK %> </br> 

        <%= t.label :name %> </br> 
        <%= t.text_field :name %> </br> 

        <%= t.label :age %> </br> 
        <%= t.text_field :age %> </br>

        <%= t.label :kelas %> </br> 
        <%= t.text_field :kelas %> </br>

        <%= t.label :mapel %> </br> 
        <%= t.text_field :mapel %> </br>

    <br><%= t.submit "Save", class:"btn btn-success" %> 
        <%= link_to 'Back', teachers_path, class:"btn btn-secondary" %> 
    <% end %>
</div>
</div>

