<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
        <%= form_for(@teacher) do |s| %>
            <%= s.label :NIK %> </br> 
            <%= s.text_field :NIK %> </br> 

            <%= s.label :name %> </br> 
            <%= s.text_field :name %> </br> 

            <%= s.label :age %> </br> 
            <%= s.text_field :age %> </br>

            <%= s.label :kelas %> </br> 
            <%= s.text_field :kelas %> </br>

            <%= s.label :mapel %> </br> 
            <%= s.text_field :mapel %> </br>
            <br>
            <%= s.submit "Save", class:"btn btn-success" %> 
            <%= link_to 'Back', teachers_path, class:"btn btn-secondary" %>
        
        <% end %>

    </div>
</div>