<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<div class="col-sm-6">
    <div class="card text-white bg-dark md-6" style="width:200px;">
        <div class="card-header">Teacher</div>
        <div class="card-body">    
            NIK : <%= @teacher.NIK %> </br>
            Name : <%= @teacher.name %> </br>
            Age : <%= @teacher.age %> </br>
            Kelas : <%= @teacher.kelas %> </br>
            Mapel : <%= @teacher.mapel %> </br>
        </div> 
    </div>
        &nbsp;<br><%= link_to 'Back', teachers_path, class:"btn btn-secondary"%>
</div>
