<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
    <div class="card-body">
        <%= form_for(@payment) do |f| %>
            <%= f.label :transaction_id %> </br> 
            <%= f.text_field :transaction_id %> </br> 

            <%= f.label :status%> </br> 
            <%= f.text_field :status%> </br>

            <%= f.label :upload %> </br> 
            <%= f.text_field :upload %> </br>
        <br>
            <%= f.submit "Save",class:"btn btn-success" %> 
            <%= link_to 'Back', payments_path,class:"btn btn-secondary" %> 
            
        <% end %>
    </div>  
</div>

