<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Transaction id</th>
        <th>Status</th>
        <th>Upload</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <% @payments.each do |r| %>
    <tr>
        <td><%= r.transaction_id %></td>
        <td><%= r.status %></td>
        <td><%= r.upload %></td>
        <td><%= link_to 'Detail', payment_path(r),class:"btn btn-info" %> 
        <%= link_to 'Edit', edit_payment_path(r),class:"btn btn-warning" %> 
        <%= link_to 'Delete', payment_path(r) ,class:"btn btn-danger", method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>
        
    </tr>
    <% end %>
    </tbody>
</table> 

&nbsp;<%= link_to 'New payment', new_payment_path(),class:"btn btn-success" %>