<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
<%= form_for(@payment) do |s| %>
    <%= s.label :transaction_id %> </br> 
    <%= s.text_field :transaction_id %> </br> 

    <%= s.label :status %> </br> 
    <%= s.text_field :status %> </br>

    <%= s.label :upload %> </br> 
    <%= s.text_field :upload %> </br>
    <br>
    <%= s.submit "Save",class:"btn btn-success" %>
    <%= link_to 'Back', payments_path, class:"btn btn-secondary" %> 

<% end %>
    </div>
</div>
