<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<div class="card text-white bg-dark mb-3" style="width:200px; height:250px; left:10px;">
    <div class="card-header">Payment</div>
    <div class="card-body">
        Transaction_id : <%= @payment.transaction_id %> </br>
        Status : <%= @payment.status %> </br>
        Upload : <%= @payment.upload %> </br>
    </div>
</div>
&nbsp;&nbsp;<%= link_to 'Back', payments_path(),class:"btn btn-secondary" %>


