<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
<%= form_for(@exam) do |f| %>
    <%= f.label :title %> </br> 
    <%= f.text_field :title %> </br> 

    <%= f.label :mapel %> </br> 
    <%= f.text_field :mapel %> </br> 

    <%= f.label :duration %> </br> 
    <%= f.text_field :duration %> </br>

    <%= f.label :nilai %> </br> 
    <%= f.text_field :nilai %> </br>

    <%= f.label :status %> </br> 
    <%= f.text_field :status %> </br>

    <%= f.label :level %> </br> 
    <%= f.text_field :level %> </br>

    <%= f.label :student_id %> </br> 
    <%= f.text_field :student_id %> </br>

<br><%= f.submit "Save", class:"btn btn-success" %> 
    <%= link_to 'Back', exams_path, class:"btn btn-secondary" %>  
<% end %>

</div>
    </div>

