<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Mapel</th>
            <th>Duration</th>
            <th>Nilai</th>
            <th>Status</th>
            <th>Level</th>
            <th>Student Id<th>
            Action
        </tr>
    </thead>
    
    <tbody>
    <% @exams.each do |exam| %>
    <tr>
        <td><%= exam.title %></td>
        <td><%= exam.mapel %></td>
        <td><%= exam.duration %></td>
        <td><%= exam.nilai %></td>
        <td><%= exam.status %></td>
        <td><%= exam.level %></td>
        <td><%= exam.student_id %></td>
        <td><%= link_to 'Detail', exam_path(exam),class:"btn btn-info" %>
        <%= link_to 'Edit', edit_exam_path(exam),class:"btn btn-warning" %>
        <%= link_to 'Delete', exam_path(exam) ,class:"btn btn-danger", method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>
    </tr>
    <% end %>
    </tbody>
</table> 

&nbsp; <%= link_to 'New exam', new_exam_path(), class:"btn btn-success" %>