<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
    <div class="form-group ">
    <%= form_for(@exam) do |s| %>
        <%= s.label :title %> </br> 
        <%= s.text_field :title %> </br> 

        <%= s.label :mapel %> </br> 
        <%= s.text_field :mapel %> </br> 

        <%= s.label :duration %> </br> 
        <%= s.text_field :duration %> </br>

        <%= s.label :nilai %> </br> 
        <%= s.text_field :nilai %> </br>

        <%= s.label :status %> </br> 
        <%= s.text_field :status %> </br>

        <%= s.label :level %> </br> 
        <%= s.text_field :level %> </br>

        <%= s.label :student_id %> </br> 
        <%= s.text_field :student_id %> </br>

    <br><%= s.submit "Save", class:"btn btn-success" %> 
        <%= link_to 'Back', exams_path, class:"btn btn-secondary" %>
    <% end %>
    </div>
     </div>
        </div>