<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<div class="col-sm-6">
    <div class="card text-white bg-dark md-6" style="width:200px;">
        <div class="card-header">Exam   </div>
            <div class="card-body">
                Title : <%= @exam.title %> </br>
                Mapel : <%= @exam.mapel %> </br>
                Duration : <%= @exam.duration %> </br>
                Nilai : <%= @exam.nilai %> </br>
                Status : <%= @exam.status %> </br>
                level : <%= @exam.level %> </br>
                student_id : <%= @exam.student_id %> </br>
    </div>
        </div>
        <br><%= link_to 'Back', exams_path, class:"btn btn-secondary"%>
             </div>

