<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
<%= form_for(@report) do |f| %>
    <%= f.label :title %> </br> 
    <%= f.text_field :title %> </br> 

    <%= f.label :hasil %> </br> 
    <%= f.text_field :hasil%> </br> 

    <%= f.label :mapel %> </br> 
    <%= f.text_field :mapel %> </br>

    <%= f.label :teacher_id %> </br> 
    <%= f.text_field :teacher_id %> </br>

    <%= f.label :student_id%> </br> 
    <%= f.text_field :student_id%> </br>

     <%= f.label :date %> </br> 
    <%= f.text_field :date %> </br>
    <br>
    <%= f.submit "Save", class:"btn btn-success" %> 
    <%= link_to 'Back', reports_path,class:"btn btn-secondary" %> 

<% end %>
</div>
</div>

