<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Title</th>
        <th>Hasil</th>
        <th>Mapel</th>
        <th>Teacher Id</th>
        <th>Student Id</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <% @reports.each do |r| %>
    <tr>
        <td><%= r.title %></td>
        <td><%= r.hasil %></td>
        <td><%= r.mapel %></td>
        <td><%= r.teacher_id %></td>
        <td><%= r.student_id %></td>
        <td><%= r.date %></td>
        <td><%= link_to 'Detail', report_path(r), class:"btn btn-info" %>  
        <%= link_to 'Edit', edit_report_path(r), class:"btn btn-warning" %> 
        <%= link_to 'Delete', report_path(r) ,class:"btn btn-danger", method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>
        
    </tr>
    <% end%>
    </tbody>
</table> 

&nbsp;<%= link_to 'New report', new_report_path(),class:"btn btn-success" %>