<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="card text-white bg-dark mb-10" style="max-width: 275px;">
  <div class="card-body">
<%= form_for(@report) do |s| %>
    <%= s.label :title %> </br> 
    <%= s.text_field :title %> </br> 

    <%= s.label :hasil %> </br> 
    <%= s.text_field :hasil %> </br> 

    <%= s.label :mapel %> </br> 
    <%= s.text_field :mapel %> </br>

    <%= s.label :teacher_id%> </br> 
    <%= s.text_field :teacher_id %> </br>

    <%= s.label :student_id %></br> 
    <%= s.text_field :student_id %> </br>

    <%= s.label :date %> </br> 
    <%= s.text_field :date %> </br>
    <br>
    <%= s.submit "Save", class:"btn btn-success" %>
    <%= link_to 'Back', reports_path, class:"btn btn-secondary" %>

    <% end %>
 </div>
</div>